* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Sans-Serif;
}

body {
  background: #09090b;
  color: #fafafa;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.etiqueta {
  color: #ffffff;
  background: #18181b;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #27272a;
  margin-bottom: 16px;
  width: fit-content;
  text-align: center;
}

h1 {
  font-size: 52px;
  font-weight: 800;
  color: #fafafa;
  text-align: center;
  line-height: 1.2;
}

span {
  color: #a78bfa;
  text-align: center;
}

.subtitulo {
  color: #71717a;
  margin-top: 16px;
  font-size: 18px;
  text-align: center;
}

.caixa-entrada {
  width: 100%;
  max-width: 620px;
  background: #141419;
  border-radius: 16px;
  padding: 12px;
  margin-top: 30px;
  display: flex;
  border: 1px solid #27272a;
}

textarea {
  width: 80%;
  height: 50px;
  resize: none;
  outline: none;
  background: transparent;
  padding: 8px;
  color: #fafafa;
  font-size: 15px;
  border: none;
}

button {
  width: 20%;
  padding: 10px 12px;
  color: #ffffff;
  background: #7c3aed;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

button:hover {
  background: #6d28d9;
}

.caixa-resultado {
  width: 100%;
  max-width: 1400px;
  display: flex;
  padding: 24px;
  margin-top: 40px;
  background: #111114;
  border-radius: 12px;
  border: 1px solid #27272a;
  gap: 24px;
}

pre{
  width:30%;
  margin: 0;
}

.bloco-codigo {
 display: block;
  width: 100%;
  background: #0c0c0f;
  padding: 20px;
  font-size: 12px;
  color: #22c55e;
  white-space: pre-wrap;
  overflow: auto;
  border-radius: 12px;
  border: 1px solid #27272a;
  min-height: 600px;
  max-height: 600px;
}

.bloco-site {
  width: 70%;
  height: 600px;
  border: 1px solid #27272a;
  border-radius: 12px;
  background-color: #1e1e1e;
}

/* --- Regras para Celular --- */

@media (max-width: 768px) {
  body {
    padding: 30px 12px;
  }

  h1 {
    font-size: 32px;
  }

  .subtitulo {
    font-size: 16px;
    padding: 0 10px;
  }

  .caixa-entrada {
    flex-direction: column;
    gap: 10px;
    padding: 8px;
    margin-top: 20px;
  }

  textarea {
    width: 100%;
    height: 60px;
  }

  button {
    width: 100%;
    padding: 12px;
  }

  .caixa-resultado {
    flex-direction: column;
    padding: 12px;
    gap: 16px;
    margin-top: 24px;
  }

  pre {
    width: 100%;
    order: 2;
  }

    .bloco-site {
    width: 100%;
    height: 480px; 
    min-height: 450px;
    order: 1; 
    border: 1px solid #27272a;
    background-color: #141419;
  }

  .bloco-site {
    width: 100%;
    min-height: 480px;
    height: 520px;
    order: 1;
    border: 1px solid #3f3f46;
  }
  
